.pagination__numbers {
    display: flex;
    flex-direction: column;
    margin-right: 89px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 44px;
        height: 44px;
        left: 40px;
        top: -5px;
        background-image: url('../assets/images/icons/Line-pagination.svg');
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 767px) {
    .pagination__numbers_main::after {
        display: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pagination__numbers_main::after {
        display: none;
    }
}