.gallery__button {
    background-color: #38383800;
    color: white;
    text-decoration: none;
    transition: 1s;
    background-repeat: no-repeat;
    background-image: url(/src/assets/images/icons/arrow-white.svg);
    background-position: 6.5rem;
}

.gallery__button:hover {
    color: #bdbdbd;
    background-repeat: no-repeat;
    background-image: url(/src/assets/images/icons/arrow-hover.svg);
    background-position: 6.5rem;
}