.logo {
    margin-top: 2%;
    margin-left: 24%;
}
@media (min-width: 768px) and (max-width: 1023px) {

    .logo {
        padding: 1%;
        margin-left: 0;
        align-self: flex-start;
    }
}
@media (min-width: 320px) and (max-width: 767px) {


    .logo {
        margin-top: 2em;
    }
}
