@import "./__button/_button";
@import "./__buttons-container/_buttons-container";
@import "./__numbers-container/_numbers-container";
@import "./__page-number/_page-number";
@import "./__numbers/_numbers";

.pagination-2{
    display: flex;
    flex-direction: row;
    margin: 75px 0px 110px 135px ;
}