.container-con {
    display: grid;
    margin-left: 110px;
    margin-bottom: 112px;
    grid-template-columns: 2 auto;
    grid-template-rows: repeat(5, auto);
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .container-con {
        grid-template-columns: 1;
        margin-left: 60px;
    }


}