.gallery__item_layout-3 {
    margin-top: 30px;
    max-width: 270px;
}

.gallery__item_layout-3:hover {
    transform: scale(1.03);
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .gallery__item_layout-3 {
        display: none;
    }
}