.intro__button {
    padding-right: 91px;
    padding-left: 20px;
    position: absolute;
    bottom: -133px;
    text-decoration: none;
    background-image: url('../assets/images/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: right;

}