
        .nav__item:hover {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
        .nav__item{
           
            padding: 0.3em;
            
        }
       