.button {
    padding-top: 30px;
    padding-bottom: 29px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &_white {
        color: #333333;
        background-color: #ffffff;

        &:hover {
            border: 1px solid #F2F2F2;
            padding: 29px 90px 28px 19px;
        }
    }
}