.form__button_dark {
    width: 222px;
    height: 71px;
    border: none;
    background: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding-right: 3em;
text-decoration: none;
        background-repeat: no-repeat;
        background-image: url(/src/assets/images/icons/arrow-white.svg);
        background-position: 10rem;
}
     .form__button_dark:hover {
        color: #bdbdbd;
    }
