@import "./__image/_image";
@import "./__text/_text";
@import "./__title/_title";
@import "./__button/_button";
.project-card {
    margin: 0;
    display: flex;
    position: relative;
    background-color: #F2F2F2;
    &:first-child {
        margin-top: 29px;
    }
}

@media screen and (max-width: 767px) {
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .project-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}