.container-sertificates {
    margin-left: 5%;
    margin-top: 5%;
    height: 85vh;
}
@media (min-width: 768px) and (max-width: 1023px) {  
    .container-sertificates {
        height: 70vh;

    }
}