        .footer-nav__item {
            font-weight: 500;
            list-style-type: none;
            padding-top: 6%;
            color: white;
            text-decoration: none;
            font-size: 14px !important;
            letter-spacing: 0.03em;
        }
        
        .footer-nav__item:hover {
            color: #ffffffc4;
        }