.project-card__button {
    margin-left: 30px;
    height: 71px;
    width: 222px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
}