.project-card__button {
    margin: 0 0 0 30px;
    height: 71px;
    width: 222px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}