.mission-block__number {
    margin: 10px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 234px;
    display: flex;
    align-self: flex-start;
    color: #F2F2F2;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .mission-block__number {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 200px;
        line-height: 200px;
        display: flex;
        align-self: flex-start;
        color: #F2F2F2;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mission-block__number {
        margin: 0 0 0 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 200px;
        display: flex;
        align-self: flex-start;
        color: #F2F2F2;
    }
}