.mission-block__number {
    margin: 62px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 234px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
}